@model IEnumerable<Chess20.Models.Score>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Draws)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loses)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScoreId }) |
            @*@Html.ActionLink("Details", "_Details", new { id=item.ScoreId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ScoreId })
        </td>
    </tr>
}

</table>
