@model IEnumerable<Chess20.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var timer1 = item.Timer1.ToString("m':'ss");
        var timer2 = item.Timer2.ToString("m':'ss");
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GetUsername1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetUsername2)
            </td>

            <td>

                @Html.DisplayFor(modelItem => timer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => timer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
            </td>
        </tr>
    }
</table>